{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% block title %}
Страница про нас
{% endblock %}


{% block content %}

<section>
<h2> О Нас:</h2>
    <div class="about__Us">
<div class="container">
        <div class="row text-center">

    {% if contacts %}
    {% for con in contacts %}
            {% if con.image %}<a href="{{ con.image.url }}" ><img style="width: 600px" src="{{ con.image.url }}"> </a>{%endif%}

            <p class="text-testimonial"> {{ con.contact }}</p>
        {% endfor %}
        {% else %}
            <p>Контакты отсутствуют</p>
        {%endif%}

        </div>
    </div>
</div>

</section>

{% endblock %}