{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<section>
<h1>Отзывы наших клиентов:</h1>
    <a href="button" class="line3__btn" data-toggle="modal" data-target="#exampleModal"><b>Добавить отзыв</b></a>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header class__form">

<form method="POST" enctype="multipart/form-data" class="post-form">
    {% csrf_token %}
    {{ form.name }}<br>
    {{ form.age }}<br>
    {{ form.email }}<br>
    {{ form.tel }}<br>
    {{ form.image }}<br>
    {{ form.review }}<br>
    <button type="submit" class="btn btn-success"> Добавить отзыв</button>
    <span>{{ error }}</span>
</form>

       </div>
    </div>
  </div>
</div>

    {% if reviews %}
    {% for rev in reviews %}

<div class="container reviews__ht">
        <div class="row"> <hr>
        <div class="col-3 col-md-3">
    {% if rev.image %}<a href="{{ rev.image.url }}" ><img style="width: 120px" src="{{ rev.image.url }}"> </a>
    {% else %}<a href="{% static '/main/images/reviews/no_photo.png' %}"><img style="width: 120px"src="{% static '/main/images/reviews/no_photo.png' %}"> </a>
    {% endif %}
    <h3 class="city-name">{{ rev.name }} {{ rev.age }}</h3>
        </div>
        <div class="col-9 col-md-9 text__reviews"> <p class="text-testimonial"> {{ rev.review }}</p>
  </div>

        {% endfor %}
    {% else %}
        <p>Отзывы отсутствуют</p>
    {%endif%}

</section>
{% endblock %}