{% load static %}


.instagram a:hover {background: #fc9003; color: #fff;}
.vk a:hover {background: #fc9003; color: #fff;}

body {
    margin: 0;
    font-family: shrift, sans-serif;
    font-size: 15px;
    color: #3c0000;
    line-height: 1.6;

}
a {
    color: #3c0000;
    text-decoration: none;

}
a:visited {

    text-decoration: none;
   }
a:hover {
    color: #fff;
    text-decoration: none;
   }
*,
*:before,
*after{
    box-sizing: border-box;
}
p,b,a {
   font-family: shrift, sans-serif;


}
h1,h2,h3,h4,h5,h6 {
   margin:0;
   font-family: shrift, sans-serif;
   font-weight: 700;
   text-decoration: none;

}
h1,h2,h3,h4,h5,h6:hover {

    text-decoration: none;
}

hr {
    width: 100%;
    border: none; /* Убираем границу */
    background-color: #3c0000; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
   }

/*header*/
.header {
    width: 100%;
    margin-bottom: 0px;
    height: 40px;
    background: linear-gradient(to right, #fff1e6, #ebaa73);
    -webkit-background-size: cover;
    background-size: cover;
}


.number__col {
    margin: 0;
    top: 4px;
    position: absolute;
    font-size: 24px;
    color: #3c0000;
    text-aline: center;
    background-size: cover;

}
.time__workt {
    margin: 0;
    position: absolute;
    font-size: 20px;
    color: #3c0000;
    right: 0;
    margin-top: 5px;
    background-size: cover;
}

.time__work {
    margin: 0;
    top: -3px;
    position: absolute;
    font-size: 15px;
    color: #3c0000;
    background-size: cover;
}


/* line2 */
.line2 {

    width: 100%;
    margin-bottom: 0px;
    background: linear-gradient(to left, #3c0000, #ebaa73);
    -webkit-background-size: cover;
    background-size: cover;

}

/* line2__logo*/
.line2__logo{
   background: rgba(0, 0, 0, 0.5);
   no-repeat;
   background-size: auto;
}

/* adress */

.adres {
    top: 14px;
    width: 100%;
    font-size: 35px;
    color: #3c0000;
    text-align: center;




}
.line1__btn {
    color: #ebaa73;
    background: #3c0000;
    text-transform: uppercase;
    width: 20%;
    margin-top: 40px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    border: 5px solid #3c0000;
    padding: 5px;
    border-radius: 20px;
    transition: all 0.3s ease-out;

}

.line1__btn:hover {

    color: #3c0000;
    background: #ebaa73;
    border: solid #ebaa73;
    border: 5px solid #ebaa73;
    text-decoration: none;

}
.line3__btn {
    color: #ebaa73;
    background: #3c0000;
    text-transform: uppercase;
    width: 10%;
    margin-top: 40px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    border: 5px solid #3c0000;
    padding: 5px;
    border-radius: 20px;
    transition: all 0.3s ease-out;

}

.line3__btn:hover {

    color: #3c0000;
    background: #ebaa73;
    border: solid #ebaa73;
    border: 5px solid #ebaa73;
    text-decoration: none;

}
.line2__btn {
    text-transform: uppercase;
    width: 100%;
    margin-top: 40px;
    margin: 3px;
    background: #ebaa73;
    display: inline-block;
    vertical-align: top;
    border: 4px solid #ebaa73;
    padding: 5px;
    color: #3c0000;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease-out;

}

.line2__btn:hover {
    color: #ebaa73;
    background: #3c0000;
    border: solid #3c0000;
    text-decoration: none;
}
/*
.line2__btn:nth-child(1):hover {
  background: #3c0000;
  border: 2px solid #3c0000;
}
.line2__btn:nth-child(2):hover {
  background: #3c0000;
  border: 2px solid #3c0000;
}
.line2__btn:nth-child(3):hover {
  background: #3c0000;
}

/*Osnovnoe_menu*/

.NavMenu {
    display: block;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: -15px;
    background: linear-gradient(to left, #3c0000, #ebaa73);
   /* background: linear-gradient(to right, #fff1e6, #ebaa73);*/
    background-size: cover;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1px;
    font-size: 18px;
    transition: all 0.2s ease-out;
    padding: 0rem 0rem;

}

.menu__btn {
    margin: 3px;
    color: #3c0000;
}
.menu__btn:hover {
    color: #fff;

}

.menu__dropbtn {
    background: #ebaa73;
    color: #3c0000;
    border: none;

    font-family: shrift, sans-serif;
}

.menu__dropbtn:hover {
    background: #ebaa73;
    color: #fff;
    font-family: shrift, sans-serif;
}

/*footer*/
.footer {
    display: inline-block;
    width: 100%;
    background: linear-gradient(to left, #3c0000, #ebaa73);
    background-size: cover;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all 0.3s ease-out;

}

.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;

}
.map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


.footer__right {

    left: 50px;
}


/*LineAkcii*/
.LineAkcii {
    padding-top: 15px;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
}
.LineAkcii:hover {
    color: #fff;
    text-decoration: none;
}

.picakcii{
    transition: 1s;
    display: block;
    font-size: 14px;
    color: #3c0000;

}

.picakcii:hover{
    transform: scale(1.5);
    display: block;
    color: #3c0000;
    text-decoration: none;
}

.Primerirabot {
    padding-top: 15px;
    font-family: shrift, sans-serif;
    color: #3c0000;
    display: block;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 0px;
    background: linear-gradient(to right, #fff1e6, #ebaa73);
    background-size: cover;
    text-align: center;
    text-decoration: none;

}
.Akcii__razmer {
    margin: 0;
    top: 4px;
    font-size: 24px;
    color: #3c0000;
}

.reviews {
      display: block;
      text-align: center;
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: linear-gradient(to right, #fff1e6, #ebaa73);
      padding-bottom: 10px;
}

.owl-carousel .owl-item img{
    display: inline-block;
    width:10%;


}

.inner-testimonial {

    font-size: 100%;
    vertical-align: baseline;
    Horizontal-align: center;
    line-height: 1;
    color: #3c0000;


}

/*aboute*/


/*owlCarousel*/
#owl-demo .owl-item div{
  padding:10px;
}
#owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#owl-reviews .owl-reviews img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-nav {
  position: absolute;
  width: 100%;
  height: 0px;
  top: -10%;
  z-index: 999;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}


.owl-prev{
   background-size: cover;
   width: 70px;
   height: 200px;
}
.owl-next{
   background-size: cover;
   width: 70px;
   height: 200px;
}

/*reviews*/
.reviews__form {
  position: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.reviews__send {
          text-align: center;

}

/*.btn__send {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    border-radius: 7px;
    border: 1px solid #ebaa73;
    transition: all 0.3s ease-out;
    padding: .25em .5em;
    background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));

}*/
/*.btn__send:hover {
    color: #ebaa73;
    background: #ebaa73;
    text-decoration: none;
}*/



.content {
    width: 100%;
    background: linear-gradient(to right, #fff1e6, #ebaa73);
    background-size: cover;
    text-align: center;
}

.about__Us {

    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 20px;

}


.reviews__ht{
    text-align: left;
    text-decoration: none;
    font-size: 15px;
}


.topNubex {
	position: fixed;
	left: 45px;
	bottom: 45px;
}

.text__reviews {
    max-width: 700px;
    text-align: center;
}


.modal-content {
    background: linear-gradient(to right, #fff1e6, #ebaa73);
    width: 100%;
    border:none !important;


}

.table {
    padding-top: 0px;
    color: #3c0000;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
}

.col1 {
    width: 40px;
}


